RewriteEngine On

# Change this to your local root
RewriteBase /~artefact2/__testing__

RewriteRule ^/?(lib|inc|cli)\.(.+)\.php$ web.mainpage.php?dispatch_request [L]
RewriteRule ^/?$ web.mainpage.php?dispatch_request [L]

RewriteRule ^/?(eu|us)/1[a-zA-Z0-9]+(\.htm)?$ web.individual.php [L]
RewriteRule ^/?blocks/(1[a-zA-Z0-9]+)?$ web.all_blocks.php [L]

RewriteRule ^/?authenticate$ web.authentify.php [L]
RewriteRule ^/?individualSettings$ web.individual_settings.php [L]